.app__headerImage {
  object-fit: contain;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__post {
  padding: 20px;
  justify-content: center;
  display: flex;

}

.app__post__right {
  margin-left: 20px;
}